@using blogmongo.Models.Entiteti
@model List<BlogPost>
@{
    ViewBag.Title = "Favorites";
}

<h2>Favorites</h2>
@foreach (BlogPost bp in Model)
{
    <div class="table-bordered">
        <h2>@Html.ActionLink(bp.Title, "Details", "Blog", new { id = bp.Id.ToString() }, null)</h2>
        <p>@bp.Description.Substring(0, Math.Min(bp.Description.Length, 500))...</p>
    </div>
}

